.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  row-gap: 10px;
}

.bold {
  font-weight: bold;
}

.initialOverlayContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  padding: 20px;
  display: flex;
  justify-content: center;
}

.initialOverlay {
  color: white;
  display: flex;
  flex-direction: column;
  width: 90%;
  row-gap: 20px;
}

.initialOverlay li {
  list-style-position: inside;
}

.getStarted {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.getStarted button {
  width: 100px;
}

.coffee {
  color: var(--gb-dm-light-green);
}

.categoriesContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  row-gap: 10px;
  max-height: 85vh;
  min-width: 550px;
}

.categories {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  margin: 0 10px;
  overflow-y: scroll;
  height: 100%;
  background-color: var(--gb-dm-bg1);
}

.categoryContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}

.categoryContainer h2 {
  padding-left: 5px;
  margin-top: 4px;
}

.statisticsContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 590px;
  row-gap: 10px;
}

.controlsContainer {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  width: 100%;
}

.items {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  padding: 0 5px;
  font-size: 12px;
}

.items .item:nth-child(odd) {
  background-color: var(--gb-dm-bg2);
}

.itemDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.itemDetailsConsidering {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--gb-dm-light-green);
}

.itemValues {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.itemValues button {
  height: 20px;
  padding: 2px;
}

.itemValues div {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
}

.itemValues div:first-child {
  color: var(--gb-dm-dark-green);
}

.itemValues div:nth-child(2) {
  color: var(--gb-dm-light-yellow);
}

.itemControl {
  margin-right: 4px;
}

.totalsContainer {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.totals {
  display: flex;
  flex-direction: column;
}

.totalWeight {
  color: var(--gb-dm-dark-green);
}

.totalVolume {
  color: var(--gb-dm-light-yellow);
}

.baselineWeight {
  color: var(--gb-dm-dark-purple);
}

.baselineVolume {
  color: var(--gb-dm-dark-orange);
}

.deltaWeight {
  color: var(--gb-dm-light-purple);
}

.deltaVolume {
  color: var(--gb-dm-light-orange);
}

.totalCost {
  color: var(--gb-dm-light-red);
}

.selectControl {
  display: flex;
  column-gap: 10px;
}

.selectControl > button {
  padding: 2px;
}

.selectControl > button:hover {
  cursor: pointer;
}

.itemCheckboxContainer {
  width: 100%;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.itemCheckboxContainer input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: var(--gb-dm-bg4);
}

.itemCheckboxContainer input ~ .checkmark {
  background-color: var(--gb-dm-bg0-hard);
}

.itemCheckboxContainer input:checked ~ .checkmark {
  background-color: var(--gb-dm-dark-blue);
}

.itemCheckboxContainer input:checked ~ .checkmark:after {
  display: block;
}

.itemCheckboxContainer:hover input ~ .checkmark {
  background-color: var(--gb-dm-dark-gray);
}

.itemCheckboxContainer:hover input:checked ~ .checkmark {
  background-color: var(--gb-dm-dark-purple);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.itemCheckboxContainer .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.addItemContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  min-width: 590px;
}

.addItemContent {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 405px;
}

.addItem form {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.addItem form input[type=text], .addItem form input[type=number] {
  padding: 2px;
  min-width: 300px;
}

.formItem {
  display: flex;
  column-gap: 5px;
}

.formLabel {
  min-width: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.formControls {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  margin-top: 5px;
  justify-content: flex-end;
}

.formControls button {
  height: 30px;
  width: 50px;
}

.errorText {
  color: var(--gb-dm-light-red);
}
